{% extends 'base.html' %}


{% block content %}
<a  style="color: #FFD700; font-size: 36px;"  href="{% url 'base' %} ">МАГАЗИН СИЛОВОЙ ЭЛЕКТРОТЕХНИКИ</a>
    <nav aria-label="breadcrumb" class="mt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
      </ol>
    </nav>

<div class="row">
  {% for product in category_products %}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="{{ product.get_absolute_url }}"><img width=250px height=600px class="img-fluid" src="{{ product.image.url }}" alt=""></a>
      <div class="card-body">
        <h3 class="card-title">
          <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </h3>
        <h5>{{ product.price }} грн.</h5>
              <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
      <button class="btn btn-danger">Добавить в корзину</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}